---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h2>Welcome to your AI adventure!</h2>
			<p>
				You've heard of <em>100 Days of Code</em> and <em>100 Days of Python</em>, and 
				you are certainly aware of all the excitement about AI--but shouldn't 
				AI make things go <b>faster</b>? 
			</p>

			<p>
				We think so too. That's why this is just <b>42 Days</b> of AI. 
			</p>

			<p> 
				Over the next <b>six weeks</b> (42 days), we'll go from <em>AI zero</em>
				to <b>AI hero</b>, as we work our way up to a mind-blowing capstone project: a web app that <b>keeps itself 
				updated</b>, evolving as the AI landscape continues to evolve at its torrid pace. 
				(Yeah, our minds are blown too. Imagine documentation that never goes out 
				of date.)
			</p>

			<p>
				We don't know exactly how we are going to get there--but how could we? AI 
				tools and techniques will be released during the next six weeks that we 
				cannot imagine until we see them.
			</p>

			<p>
				We can't promise how much time each "day" will take, but we can promise that 
				if you stick with us, you will know more about shipping AI functionality than 
				99 percent of world.
			</p>
			
			
		</main>
		<Footer />
	</body>
</html>
